header {
    background-color: greenyellow;
    font-family: Candara;
    font-size: 32px;
    text-align: center;
    width: 100%;
    height: 200px;
}

p {
    font-size: 32px;
    padding: 25px;
    background-color: orange;
}